@import './fonts.scss';

.container-5 {
	padding: 0 45px;
	padding-bottom: 120px;
	margin: 0 auto;
	width: 100%;
	max-width: 1272px;
	position: relative;

	.coaches__title {
			font-family: $bebas-neue;
			font-weight: 400;
			font-size: 49px;
			letter-spacing: 0.03em;
			color: #102654;
			margin-left: 58px;
		}
	.coaches__list {
		width: 100%;
		height: auto;
		margin-top: 45px;
		&__slide{
			display: flex;
			justify-content: center;
		}

		&__wrapper{

		}

		&__item{
			display: flex;
			justify-content: center;
			width: 100%;
			max-width: 260px;
			height: 294px;
			position: relative;
			&:hover{
				.coaches__list__item__title{
					display: none;
				}

				.coaches__list__item__props{
					visibility: visible;
					opacity: 1;
				}
			}

			&__title {
				
				z-index: 1;
				font-size: 18px;
				color: #fff;
				align-self: flex-end;
				margin-bottom: 25px;
			}

			&__props{
				width: 100%;
				height: 100%;
				background-color:rgba(16, 38, 84, 0.89);
				position: absolute;
				display: flex;
				justify-content: center;
				visibility: hidden;
				opacity: 0;
				transition: visibility 0s, opacity .3s ease;
				&__title{
					top: 58px;
					position: absolute;
					color: #fff;
					margin-block-start: 0;
					margin-block-end: 0;
					font-family: $roboto-condensed;
					font-weight: 700;
					font-size: 18px;
				}

				&__subtitle{
					top: 80px;
					position: absolute;
					font-weight: 400;
					font-size: 16px;
					color: #b6bdcc;
				}

				&__list{
					display: flex;
					flex-direction: column;
					gap: 24px;
					color: #fff;
					position: absolute;
					top: 115px;
					&__item{
						font-size: 18px;
						width: 100%;
						max-width: 143px;
						&__text{
							font-family: $roboto-condensed;
							font-weight: 400;
							font-size: 14px;
						}
					}
				}
			}
			img{
				position: absolute;
				z-index: 0;
			}
		}
	}
	.swiper-button-prev{
		
		color: #AFAFAF;
		content: url('assets/shevron_left.svg');
		width: 16px;
		
	}

	.swiper-button-next{
		width: 16px;
		
		color: #AFAFAF;
		content: url('assets/shevron_right.svg');
	}
}


@media (max-width:1200px) {
	.container-5{
		.swiper-button-prev{
			left: var(--swiper-navigation-sides-offset, 20px);
		}
		.swiper-button-next{
			right: var(--swiper-navigation-sides-offset, 20px);
		}
	}
}