@import './fonts.scss';

.container-3 {
	width: 100%;
	max-width: 1369px;
	margin: 0 auto;
	min-height: 851px;
	padding: 100px 0;
	display: grid;
	grid-template-rows: 0.25fr 0.25fr 1fr;
	grid-template-columns: 1fr;

	

	.dude{
		position: absolute;
		bottom: -150px;
		right: 0;
		
	}

	.abonements__title {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		font-weight: 700;
		font-family: $bebas-neue;
		font-size: 49px;
		letter-spacing: 0.04em;
		color: #102654;
		margin-bottom: 5px;
		margin-right: 4px;
	}

	.abonement__selector__wrapper {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 15px;
		height: 60px;

		.abonement__selector {
			list-style-type: none;
			display: flex;
			flex-direction: row;
			gap: 0 46px;
			height: 44px;
			position: relative;
			border-bottom: 2px solid rgba(120,120,120, .2);
			&__item {
				position: relative;
				font-family: $roboto-condensed;
				font-weight: 400;
				font-size: 20px;
				line-height: 150%;
				color: #102654;
				margin-right: 2px;
				cursor: default;

			}

			&-button{
				font-family: $roboto-condensed;
				background-color: transparent;
				border: none;
				font-weight: 400;
				font-size: 20px;
				color: rgba(16, 38, 84, 0.5);

				&-active{
					font-family: $roboto-condensed;
					background-color: transparent;
					border: none;
					font-weight: 400;
					font-size: 20px;
					color: rgba(16, 38, 84, 1);
				}
			}

			&-line{
				position: absolute;
				top: 42px;
				left: 0;
				width: 67px;
				height: 2px;
				background-color: #d10a42;
				transition: all .25s ease-in-out;
			}


		}
	}

	.courses__list {
		list-style-type: none;
		display: flex;
		justify-content: center;
		gap: 40px;

		.courses__list__item {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			max-width: 360px;
			height: 448px;
			transition: 0.3s;
			background-color: #fff;

			z-index: 2;

			&-wrapper{
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				flex-grow: 1;
			}

			border: 6px solid #fff;
			&:hover {
				border-image: linear-gradient(#D10A42, #00359F) 30;
				border-width: 6px;
				border-style: solid;
			}

			&__title {
				font-family: $roboto-condensed;
				font-weight: 700;
				font-size: 26px;
				line-height: 110%;
				margin-top: 68px;
				text-align: center;
				color: #102654;
			}

			&__subtitle {
				font-family: $roboto-condensed;
				font-weight: 400;
				font-size: 16px;
				line-height: 150%;
				color: #495a7d;
				text-align: center;
				margin-top: 22px;
			}

			&__price {
				display: flex;
				justify-content: center;
				align-items: center;
				

				svg {
					margin-left: 14px;
				}

				&__title {
					position: relative;
					font-weight: 700;
					font-size: 60px;
					line-height: 150%;
					color: #103aae;
					z-index: 2;

				}
			}

			&__button {
				height: 64px;
				width: 100%;
				max-width: 206px;
				border: 3px solid #1c3374;
				background-color: transparent;
				color: #102654;
				transition: all 0.3s ease;
				margin-bottom: 68px;
				&:hover {
					cursor: pointer;
					background: linear-gradient(0.25turn, #ED0233, #003EB7);
					border-width: 3px;
					border-style: solid;
					border-image: linear-gradient(0.25turn, #ED0233, #003EB7) 30;
					color: #fff
				}

				&__text {
					font-family: $roboto-condensed;
					font-weight: 700;
					font-size: 12px;
					letter-spacing: 0.05em;
					text-transform: uppercase;
				}
			}
		}
	}


}

@media (max-width:768px) {
	.container-3{

		.dude{
			bottom: -165px;
			width: 289px;
		}
		grid-template-rows: auto;
		.courses__list{
			flex-direction: column;
			align-items: center;
			.courses__list__item{
				max-width: 442px;
			}
		}
	}
}

@media (max-width:500px) {
	.container-3{
		.dude{
			display: none;
		}

		.abonement__selector__wrapper{
			.abonement__selector{
				&-button{
					font-size: 16px;
				}
			}
		}
	}
}