@import './fonts.scss';

.container-4 {
	width: 100%;
	max-width: 1160px;
	margin: 120px auto;
	display: flex;
	aspect-ratio: 2.32;
	padding: 0 45px;
	img{
		aspect-ratio: 1.32;
		width: 100%;
		max-width: 660px;
	}

	
	.supergames{

		&__title{
			aspect-ratio: 1.27;
			color: #fff;
			font-family: $bebas-neue;
			font-size: 90px;
			font-weight: 700;
			line-height: -1px;
			letter-spacing: 3px;
			width: 100%;
			max-width: 201px;
			font-weight: 400;
			margin-block-end: 0;
		}

		&__subtitle{
			color: #fff;
			font-size: 18px;
			font-weight: 400;
			letter-spacing: 0;
			text-align: left;
		}

		&__wrapper{
			width: 100%;
			max-width: 500px;
			background-color: #ED0233;
			aspect-ratio: 1;
			display: flex;
			flex-direction: row;
		}

		&__inner{
			display: flex;
			flex-direction: column;
			width: 100%;
			max-width: 343px;
			margin: 0 auto;

			&__wrapper{
				width: 100%;
				display: flex;
				justify-content: space-between;
			}
		}

		&__props{
			margin-top: 79px;
			display: flex;
			flex-direction: column;
			gap: 22px;
		}
		
		&__date{
			width: 100%;
			max-width: 64px;
			display: flex;
			flex-direction: column;
			gap: 6px;
			&__title{
				color: #fff;
				font-family: $roboto-condensed;
				font-size: 18px;
				font-weight: 400;
				line-height: 150%;
				letter-spacing: 0;
			}

			&__line{
				width: 100%;
				height: 1px;
				background-color: #fff;
			}

			&__design{
				display: flex;
				gap: 7px;

				&__title{
					color: #fff;
					font-size: 40px;
					font-weight: 700;
					letter-spacing: 0;
					line-height: 89%;
				}
				&__month-year{
					color: #fff;
					font-size: 14px;
					font-weight: 400;
					letter-spacing: 0;
				}
			}


		}

		&__time{
			display: flex;
			flex-direction: column;
			gap: 6px;

			&__title{
				color: #fff;
				font-size: 18px;
				font-weight: 400;
				letter-spacing: 0;
			}

			&__line{
				width: 100%;
				height: 1px;
				background-color:#fff ;
			}
			
			&__inner{
				color: #fff;
				font-size: 40px;
				font-weight: 700;
				letter-spacing: 0;
				margin-top: -8px;
			}
		}

		&__button{
			max-width: 346px;
			height:71px;
			width: 100%;
			border: 4px solid #fff;
			background-color: transparent;
			margin-top: 50px;
			transition: opacity .3s ease;
			&:hover{
				opacity: .5;
			}
			&__text{
				color: #fff;
				font-size: 11px;
				font-weight: 700;
				line-height: 14px;
				text-transform: uppercase;
			}
		}
		
	}
}


@media (max-width:930px) {
	.container-4{
		.supergames{

			&__title{
				font-size: 52px;
			}

			&__inner{
				max-width: 202px;
			}

			&__props{
				margin-top: 35px;
			}

			&__subtitle{
				font-size: 12px;
			}

			&__button{
				height: 39px;
			}

			&__wrapper{
				justify-content: center;
			}

			&__date{
				&__title{
					font-size: 12px;
				}

				&__line{
					max-width: 42px;
				}

				&__design{
					&__title{
						font-size: 24px;
					}

					&__month-year{
						font-size: 10px;
					}
				}
			}

			&__time{
				&__title{
					font-size: 12px;
				}
				&__inner{
					font-size: 24px;
				}

				&__line{
					max-width: 56px;
				}
			}
		}
	}
}

@media (max-width:640px) {
	.container-4{
		flex-direction: column;
		align-items: center;
		img{
			width: 100%;
			max-width: 500px;
		}
		
	}
}