@import './fonts.scss';

.container-9 {
	width: 100%;
	max-width: 1366px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	margin-top: 120px;
	padding: 0 45px;
	position: relative;
	.free {
		width: 100%;
		max-width: 683px;
		background-color: #102654;
		background-size: 150%;
		height: 337px;
		

		&__button {
			margin-top: 37px;
			max-width: 410px;
			height: 53px;
			width: 100%;
			border: 3px solid #fff;
			outline: none;
			cursor: pointer;
			background-color: transparent;
			color: #fff;
			transition: opacity 0.3s ease;

			&:hover {
				opacity: 0.5;
			}

		}

		&__inner {
			width: 100%;
			margin: 65px auto;
			padding: 0 10px;
			max-width: 410px;
		}

		&__title {
			font-weight: 400;
			font-size: 49px;
			font-family: $bebas-neue;
			letter-spacing: 0.03em;
			color: #fff;
			margin-block-start: 0;
			margin-block-end: 0;
		}

		&__inner__inputs {
			display: flex;
			margin-top: 43px;
			gap: 30px;
		}

		&__inner__input {
			background-color: transparent;
			border: none;
			outline: none;
			border-bottom: 1px solid #74819C;
			color: #fff;

			&::placeholder {
				font-family: $roboto-condensed;
				font-weight: 400;
				font-size: 14px;
				color: #fff;
			}
		}
	}

	.contacts {
		width: 100%;
		max-width: 683px;
		border-top: 1px solid #74819c;


		&__inner {
			width: 100%;
			max-width: 404px;
			display: flex;
			flex-direction: column;
			margin: 0 auto;
			margin-top: 25px;
			padding: 0 10px;
		}

		&__title {
			font-family: $bebas-neue;
			font-weight: 500;
			font-size: 49px;
			letter-spacing: 0.03em;
			color: #102654;
		}

		&__props {
		
			display: flex;
			gap: 60px;

			&__first{
				display: flex;
				flex-direction: column;
				gap: 30px;
				width: 100%;
			}

			&__second{
				display: flex;
				flex-direction: column;
				gap: 30px;
			}

			&__title {
				font-weight: 700;
				font-size: 16px;
				color: #102654;
				margin-block-start: 0;
				margin-block-end: 0;
			}

			&__subtitle {
				font-weight: 400;
				font-size: 14px;
				color: #102654;
				margin-top: 10px;
				text-decoration: none;
				transition: opacity 0.3s ease;
				&:hover{
					opacity: 0.5;
				}
			}

			&__divider {
				width: 100%;
				width: 1px;
				height: 102px;
				border: 1px solid #74819c;

			}
		}

	}
}

@media (max-width:768px) {
	.container-9{
		padding: 0 25px;
		flex-direction: column;
		.free{
			max-width: 100%;
		}
	}
}

@media (max-width:440px) {
	.container-9{
		margin-top: 0;
		padding: 120px 10px;
		.free {

			&__title{
				font-size: 32px;
			}

			&__inner {
					margin: 65px 5px;
					&__inputs{
						flex-direction: column;
					}
				}
		}

		.contacts{
			margin: 0 5px;
			border-top: none;
			&__props{
				flex-direction: column;
				gap: 10px;
				&__divider{
					display: none;
				}

				&__title{
					margin-top: 20px;
				}
			}
		}
	}
}