@import './fonts.scss';

.container-6 {
	width: 100%;
	max-width: 1040px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	flex-direction: column;

	&__title {
		font-weight: 400;
		font-size: 49px;
		letter-spacing: 0.03em;
		color: #102654;
		text-transform: uppercase;
		text-align: center;
		font-family: $bebas-neue;
		margin-left: 5px;

	}

	.description-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		margin-top: 30px;

		&__text {
			display: flex;
			flex-direction: column;
			width: 176px;

		}

		&__text-2 {
			width: 183px;
		}

		&__text-3 {
			width: 226px;
		}

		&__title {
			font-weight: 700;
			font-size: 22px;
			line-height: 150%;
			color: #102654;
			margin-block-start: 0;
			margin-block-end: 0;
		}

		&__subtitle {
			font-weight: 300;
			font-size: 16px;
			line-height: 140%;
			color: #102654;
			margin-top: 6px;
		}

		.box-1 {
			grid-column: 1 / span 1;
			border-bottom: 2px solid rgba(209, 10, 66, 0.2);
			display: flex;
			gap: 30px;
			padding-left: 23px;
		}

		.box-2 {
			grid-column: 3 / span 1;
			width: 400px;
			height: 155px;
			border-bottom: 2px solid rgba(209, 10, 66, 0.2);
			display: flex;
			gap: 30px;

			justify-content: flex-end;
		}

		.box-3 {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			grid-column: 2 / span 1;
			grid-row: 1 / span 2;
			width: 240px;
			height: 307px;
			background-color: #102654;

			&__title {
				color: #fff;
				font-family: $roboto-condensed;
				font-size: 74px;
				font-weight: 700;
				line-height: 150%;
				letter-spacing: 0;
				margin-block-start: 0;
				margin-block-end: 0;
			}

			&__subtitle {
				color: #fff;
				font-family: $roboto-condensed;
				font-size: 26px;
				font-weight: 700;
				line-height: 150%;
				letter-spacing: 0;
				margin-block-start: 0;
				margin-block-end: 0;
			}

			&__text {
				text-align: center;
				width: 172px;
				color: #fff;
				font-family: $roboto-condensed;
				font-size: 16px;
				font-weight: 400;
				line-height: 150%;
				letter-spacing: 0%;
			}

		}

		.box-4 {
			display: flex;
			align-items: flex-end;
			margin-left: 19px;
			grid-column: 1 / span 1;
			grid-row: 2 / span 1;
			gap: 30px;
			width: 400px;
			height: 155px;
		}

		.box-5 {
			margin-left: 41px;
			display: flex;
			gap: 30px;
			align-items: flex-end;
			grid-column: 3 / span 1;
			grid-row: 2 / span 1;
			width: 400px;
			height: 155px;

			svg {
				flex-shrink: 0;
			}
		}
	}
}


// @media (max-width:768px) {
// 	.container-6 {
// 		.description-grid {
// 			display: flex;
// 			flex-direction: column;
// 			align-items: center;

// 			.description-grid__item {
// 				flex-direction: row;

// 				.left__span,
// 				.right__span {
// 					display: none;
// 				}

// 				.places {
// 					margin-top: 0;
// 				}

// 				.years {
// 					margin-top: 0;
// 				}

// 				&__center-block {
// 					width: 100%;
// 					max-width: 422px;
// 					height: 239px;
// 					margin-bottom: 40px;

// 					&__title {
// 						margin-top: 0;
// 					}
// 				}
// 			}
// 		}

// 		.description-grid__text-2 {
// 			margin-top: 0;
// 		}

// 		.description-grid__text-4 {
// 			margin-top: 0;
// 		}

// 	}
// }

// @media (max-width:320px) {
// 	.container-6 {
// 		&__title {
// 			font-size: 32px;
// 		}
// 		.description-grid{
// 			.description-grid__item{
// 				flex-direction: column;
// 				gap: 50px;
// 				&__wrapper{
// 					flex-direction: column;
// 					align-items: center;
// 					.cars{
// 						margin-left: 0;
// 					}
// 					.years{
// 						margin-left: 0;
// 					}
// 				}
// 			}
// 			&__text{
// 				text-align: center;
// 			}
// 			&__text-2{
// 				text-align: center;
// 			}

// 			&__text-3{
// 				margin-top: 0;
// 				text-align: center;
// 			}
// 			&__text-4{
// 				text-align: center;
// 			}
// 		}
// 	}
// }