@import './fonts.scss';

.footer {
	width: 100%;
	display: flex;
	margin: 0 auto;
	background-color: #030A1A;
	height: 108px;
	justify-content: center;
	padding: 0 45px;
	&__inner-320{
		display: none;
	}
	&__inner {
		width: 100%;
		max-width: 1160px;
		margin: 0 45px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		margin-block-end: 0;
		margin-block-start: 0;
		font-family: $bebas-neue;
		font-weight: 700;
		letter-spacing: 0.02em;
		font-size: 26px;
		color: #fff
	}

	&__list {
		list-style-type: none;
		display: flex;
		gap: 40px;
		margin-left: 20px;

		&__item {
			&__nav {
				color: #fff;
				text-decoration: none;
				font-weight: 400;
				font-size: 14px;
				transition: opacity .3s ease;
				&:hover{
					opacity: .5;
				}
			}
		}
	}

	&__icons__list {
		list-style-type: none;
		display: flex;
		align-items: center;
		gap: 25px;

		&__nav{
			transition: opacity .3s ease;
			&:hover{
			 	opacity: .5
			}
		}
	}
}

@media (max-width:768px) {
	.footer {
		&__list {
			gap:10px;
			margin-left: 0;
		}

		&__inner{
			margin: 0;
		}
	}
}

@media (max-width:640px) {
	.footer{
		padding:0 25px;
	}
}

@media (max-width:630px) {
	.footer {
		&__inner {
			display: none;
		}
		height: 100%;

		&-320 {
			&__title {
				margin-block-start: 0;
				margin-block-end: 0;
				font-family: $bebas-neue;
				font-weight: 500;
				font-size: 20px;
				letter-spacing: 0.02em;
				color: #fff;
			}
		}

		&__inner-320 {
			display: flex;
			flex-direction: column;
			&__wrapper{
				display: flex;
				gap: 80px;
			}
			&__with_title {
				list-style-type: none;
				display: flex;
				flex-direction: column;
				gap: 10px;
				&__item {
					color: #fff;
					transition: opacity .3s ease;
					&:hover{
						opacity: 0.5;
					}
					&__nav {
						text-decoration: none;
						color: #fff;
					}
				}
			}
		}
	}
}